.title {
	text-align: center;
	color: white;
}

#main {
	padding: 80px;
	margin-bottom: 15px;
	background: linear-gradient(to bottom right, grey, black);
	text-align: center;
}

#search {
	/*max-width: 60%;*/
}

#search-control { 
	margin-bottom: 10px;
}

.chord-line {
	font-size: large;
	font-family: 'Courier New';
	padding: 0 9px;
	color: red;
	line-height: 0;
}

.editor-line {
	font-size: large;
	font-family: 'Courier New';
	padding: 0 9px;
	border-color: #ddd;
	border-style: solid;
	border-width: thin;
	border-radius: 3px;
}

.centered-text {
	text-align: center;
}

.main-body {
	width: 60%;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

#container {
	min-height: 100%;
	position: relative;
}

footer {
	background: linear-gradient(white, #ccc);
	width: 100%;

	position: absolute;
	bottom: 0;
	height: 60px;
}

footer p {
	width: 100%;
}

.content {
	padding-top: 51px;
	padding-bottom: 60px;
}

.small-panel {
	width: 500px;
	margin: 30px auto;
}
